<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pt-32 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="serviceShowForm">
            <!-- UID Field -->
            <div class="pb-16" fxLayout="row" fxLayoutAlign="start start" *ngIf = "action !== 'new'">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>ID</mat-label>                        
                    <input name="uid" formControlName="uid" matInput readonly>
                </mat-form-field>
            </div>
            <!-- // UID Field -->

            <!-- Name Field -->
            <div class="pb-16" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Name</mat-label>                        
                        <input name="name" formControlName="name" matInput required>
                        <mat-error>Message is required!</mat-error>
                </mat-form-field>
            </div>
            <!-- // Name Field -->

            <!-- Created At Field -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>CreatedAt</mat-label>
                    <mat-icon matSuffix class="secondary-text">today</mat-icon>
                    <input name="createdAt" formControlName="createdAt" matInput readonly>
                </mat-form-field>
            </div>    
            <!-- // Created At Field -->
            
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',serviceShowForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',serviceShowForm])"
                [disabled]="serviceShowForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action === 'new'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(serviceShowForm)"
                [disabled]="serviceShowForm.invalid"
                aria-label="ADD">
            ADD
        </button>

        <button *ngIf="action==='view'"
                mat-button
                class="close-button"
                (click)="matDialogRef.close()"
                aria-label="CLOSE">
            CLOSE
        </button>

    </div>
</div>
