<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-32 pb-0 mt-20 m-0" fusePerfectScrollbar>

        <form [formGroup]="paymentApproverForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Payment Approver</mat-label>
                    <mat-select formControlName="creatorId" required>
                        <mat-select-search [formControl]="paymentApproverFilterCtrl"></mat-select-search>
                        <mat-option *ngFor="let user of filteredPaymentApprovers | async" [value]="user.userId">
                            {{user.name}}
                        </mat-option>
                    </mat-select>                                        
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Amount</mat-label>                    
                    <input type="number" name="amount" formControlName="amount" matInput required>
                </mat-form-field>
            </div>

            <!-- uid (hidden field) -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex class="uid-field">                    
                    <input name="uid" formControlName="uid" matInput>
                </mat-form-field>
            </div>
           
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-raised-button class="accent" *ngIf="action === 'edit'" mat-button class="mr-8" (click)="matDialogRef.close(['delete',paymentApproverForm])"
            aria-label="Delete" matTooltip="Delete">
            DELETE
        </button>

        <button mat-raised-button *ngIf="action !== 'edit'" mat-button class="accent save-button" (click)="matDialogRef.close(paymentApproverForm)"
            [disabled]="paymentApproverForm.invalid" aria-label="SAVE">
            ADD
        </button>

        <button mat-raised-button *ngIf="action === 'edit'" mat-button class="accent save-button" (click)="matDialogRef.close(['save',paymentApproverForm])"
            [disabled]="paymentApproverForm.invalid" aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
