@import "src/@fuse/scss/fuse";

payment-list {
    // display: flex;
    flex: 1 1 auto;
    width: 100%;

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-serviceProviderId {
            flex: 0 1 200px;
        }
        .mat-column-paymentApproverId {
            flex: 0 1 200px;
        }
        .mat-column-payerId {
            flex: 0 1 200px;
        }
        .mat-column-amount {
            flex: 0 1 120px;
        }
        .mat-column-tip {
            flex: 0 1 100px;
        }
        .mat-column-isPaidOutsideApp {
            flex: 0 1 120px;
        }
        /* .mat-column-invoiceId {
            flex: 0 1 200px;
        } */
        .mat-column-createdAt {
            flex: 0 1 105px;
        }        
        .mat-column-detailAction {
            flex: 0 1 120px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}

