<div fxLayout="row" fxLayoutAlign="begin center">
    <mat-icon class="m-0 mr-16 secondary-text">question_answer</mat-icon>
    <div class="h2 secondary-text">Requests</div>
</div>

<mat-table class="invoice-requests-table"
            #table [dataSource]="dataSource"            
            [@animateStagger]="{value:'50'}"
            fusePerfectScrollbar>
    
    <!-- RequestDate Column -->
    <ng-container matColumnDef="requestDate">
        <mat-header-cell *matHeaderCellDef>Request Date</mat-header-cell>
        <mat-cell *matCellDef="let request">
            <p>{{request.requestDate | date:"MM/dd/yyyy"}}</p>
        </mat-cell>
    </ng-container>

    <!-- CompetitionClass Column -->
    <ng-container matColumnDef="competitionClass">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>CompetitionClass</mat-header-cell>
        <mat-cell *matCellDef="let request"   fxHide fxShow.gt-xs>
            <p>{{request.competitionClass}}</p>
        </mat-cell>
    </ng-container>

    <!-- Horse Column -->
    <ng-container matColumnDef="horse">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Horse</mat-header-cell>
        <mat-cell *matCellDef="let request" fxHide fxShow.gt-xs>                        
            <a *ngIf="request.horse" [routerLink]="'/horses/list/'+ request.horseId">{{request.horse.displayName}}</a>
        </mat-cell>
    </ng-container>

    <!-- Show Column -->
    <ng-container matColumnDef="show">
        <mat-header-cell *matHeaderCellDef>Show</mat-header-cell>
        <mat-cell *matCellDef="let request">
            <p *ngIf="request.show">{{request.show.name}}</p>
        </mat-cell>
    </ng-container>                         

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm fxLayoutAlign="start center">Status</mat-header-cell>
        <mat-cell *matCellDef="let request" fxHide fxShow.gt-sm fxLayoutAlign="start center">
            <!-- <p>{{request.status}}</p> -->
            <span *ngIf="request.status=='paid'" class="status h6 p-4 green-600">Paid</span>
            <span *ngIf="request.status=='completed'" class="status h6 p-4 green-600">Completed</span>
            <span *ngIf="request.status=='accepted'" class="status h6 p-4 green-600">Accepted</span>
            <span *ngIf="request.status=='deleted'" class="status h6 p-4 red-400">Deleted</span>
            <span *ngIf="request.status=='declined'" class="status h6 p-4 red-400">Declined</span>
            <span *ngIf="request.status=='pending'" class="status h6 p-4 blue-600">Pending</span>
            <span *ngIf="request.status=='invoiced'" class="status h6 p-4 blue-600">Invoiced</span>                        
        </mat-cell>
    </ng-container> 

    <!-- serviceProvider Column -->
    <ng-container matColumnDef="serviceProvider">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>ServiceProvider</mat-header-cell>
        <mat-cell *matCellDef="let request" fxHide fxShow.gt-sm>                        
            <a *ngIf="request.serviceProvider" [routerLink]="'/users/service-providers/list/'+ request.serviceProviderId">{{request.serviceProvider.name}}</a>
        </mat-cell>
    </ng-container>
    <!-- Assigner Column -->
    <ng-container matColumnDef="assigner">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Assigner</mat-header-cell>
        <mat-cell *matCellDef="let request" fxHide fxShow.gt-sm>                        
            <a *ngIf="request.assigner" [routerLink]="'/users/service-providers/list/'+ request.assignerId">{{request.assigner.name}}</a>
        </mat-cell>
    </ng-container>
            
    <!-- isCustomRequest Column -->
    <!-- <ng-container matColumnDef="isCustomRequest">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md fxLayoutAlign="center center">isCustom Request</mat-header-cell>
        <mat-cell *matCellDef="let request" fxHide fxShow.gt-md fxLayoutAlign="center center">
                <mat-icon *ngIf="request.isCustomRequest" class="active-icon green-600 s-16">check</mat-icon>
                <mat-icon *ngIf="!request.isCustomRequest" class="active-icon red-500 s-16">close</mat-icon>
        </mat-cell>
    </ng-container> -->
    <!-- Creator Column -->
    <ng-container matColumnDef="creator">
        <mat-header-cell *matHeaderCellDef>Creator</mat-header-cell>
        <mat-cell *matCellDef="let request">
            <a *ngIf="request.creator" [routerLink]="'/users/horse-managers/list/'+ request.creatorId">{{request.creator.name}}</a>                        
        </mat-cell>
    </ng-container>

    <!-- Create Date Column -->
    <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Create Date</mat-header-cell>
        <mat-cell *matCellDef="let request" fxHide fxShow.gt-md>
                <p>{{request.createdAt | date:"MM/dd/yyyy h:mm a"}}</p> <!-- {{request.createdAt | date:"MM/dd/yyyy h:mm a"}} -->
        </mat-cell>
    </ng-container>

    <!-- Detail View Action -->
    <ng-container matColumnDef="detailAction">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Action</mat-header-cell>
        <mat-cell *matCellDef="let request" fxHide fxShow.gt-md>                        
                <button mat-stroked-button color="accent" aria-label="Detail"
                    [routerLink]="'/requests/list/'+ request.uid">
                    <mat-icon class="secondary-text" color="accent">remove_red_eye</mat-icon>
                    <span> Detail</span>
                </button>
        </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

    <mat-row *matRowDef="let request; columns: displayedColumns;"
                class="request"
                matRipple
                > <!-- [routerLink]="'/requests/list/'+request.uid" -->
    </mat-row>

</mat-table>

            
<div fxLayout="row" fxLayoutAlign="end center" class="pr-24 pt-24">
    <!-- ADD BUTTON -->
    <button mat-stroked-button color="accent" id="add-invoice-request-button" [routerLink]="'/requests/new/' + invoiceId"
        aria-label="add request" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
        Add Request
    </button>
    <!-- / ADD BUTTON -->
</div>