<div fxLayout="row" fxLayoutAlign="begin center">
    <mat-icon class="m-0 mr-16 secondary-text">layers</mat-icon>
    <div class="h2 secondary-text">Service Provider Services</div>
</div>

<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

    <!-- service Column -->
    <ng-container matColumnDef="service">
        <mat-header-cell *matHeaderCellDef>Service</mat-header-cell>
        <mat-cell *matCellDef="let providerService">
            <p class="text-truncate font-weight-600">{{providerService.service}}</p>
        </mat-cell>
    </ng-container>
    <!-- rate Column -->
    <ng-container matColumnDef="rate">
        <mat-header-cell *matHeaderCellDef>Rate</mat-header-cell>
        <mat-cell *matCellDef="let providerService">            
                <p class="text-truncate font-weight-600">{{providerService.rate}}</p>
        </mat-cell>
    </ng-container>

    <!-- quantity Column -->
    <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let providerService">            
                <p class="text-truncate font-weight-600">{{providerService.quantity}}</p>
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="edit-buttons">
        <mat-header-cell *matHeaderCellDef>Edit Actions</mat-header-cell>
        <mat-cell *matCellDef="let providerService">
            <div fxFlex="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="$event.stopPropagation();editProviderService(providerService)" color="accent">
                    <mat-icon aria-label="">edit</mat-icon>
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete-buttons">
        <mat-header-cell *matHeaderCellDef>Delete Actions</mat-header-cell>
        <mat-cell *matCellDef="let providerService">
            <div fxFlex="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="$event.stopPropagation();deleteProviderService(providerService)" color="warn">
                    <mat-icon aria-label="">delete</mat-icon>
                </button>
            </div>
        </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>    
    <mat-row *matRowDef="let providerService; columns: displayedColumns;" (click)="editProviderService(providerService)"
        matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

<div fxLayout="row" fxLayoutAlign="end center" class="pr-24 pt-24">
    <!-- ADD BUTTON -->
    <button mat-stroked-button color="accent" id="add-provider-service-button" (click)="newProviderService()"
        aria-label="add payment approver" [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
        Add Service
    </button>
    <!-- / ADD BUTTON -->
</div>
