<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="paymentForm">

            <!-- Invoice ID Field -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>InvoiceID</mat-label>
                    <mat-icon matSuffix class="secondary-text">receipt</mat-icon>
                    <input name="invoiceId" formControlName="invoiceId" matInput required readonly>
                    <mat-error>Tip is required!</mat-error>
                </mat-form-field>
            </div>    
            <!-- // Invoice ID Field -->
            
            <!-- Service Provider Field -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Service Provider</mat-label>
                    <mat-select formControlName="serviceProviderId" required>
                        <mat-select-search [formControl]="serviceProviderFilterCtrl"></mat-select-search>
                        <mat-option *ngFor="let user of filteredServiceProviders | async" [value]="user.userId">
                            {{user.name}}
                        </mat-option>
                    </mat-select>                    
                    <mat-error>Service Provider is required!</mat-error>
                </mat-form-field>
            </div>
            <!-- // Service Provider Field -->

            <!-- Payment Approver Field -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Payment Approver</mat-label>
                    <mat-select formControlName="paymentApproverId">
                        <mat-select-search [formControl]="paymentApproverFilterCtrl"></mat-select-search>
                        <mat-option *ngFor="let user of filteredPaymentApprovers | async" [value]="user.userId">
                            {{user.name}}
                        </mat-option>
                    </mat-select>                    
                </mat-form-field>
            </div>
            <!-- // Payment Approver Field -->

            <!-- Payer Field -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Payer</mat-label>
                    <mat-select formControlName="payerId" required>
                        <mat-select-search [formControl]="payerFilterCtrl"></mat-select-search>
                        <mat-option *ngFor="let user of filteredPayers | async" [value]="user.userId">
                            {{user.name}}
                        </mat-option>
                    </mat-select>                    
                    <mat-error>Payer is required!</mat-error>
                </mat-form-field>
            </div>
            <!-- // Payer Field -->

            <!-- Amount -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Amount</mat-label>         
                        <mat-icon matSuffix class="secondary-text">attach_money</mat-icon>               
                        <input name="amount" type="number" formControlName="amount" matInput required>
                        <mat-error>Amount is required!</mat-error>
                </mat-form-field>
            </div>

            <!-- Tip -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Tip</mat-label>                        
                        <mat-icon matSuffix class="secondary-text">layers</mat-icon>
                        <input name="tip" type="number" formControlName="tip" matInput required>
                        <mat-error>Tip is required!</mat-error>
                </mat-form-field>
            </div>
            <!-- isPaidOutsideApp -->
            <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-label>PaidOutsideApp:</mat-label>
                    <mat-radio-group  required name="isPaidOutsideApp" formControlName="isPaidOutsideApp" class="pb-16">
                        <mat-radio-button class="ml-24" value='true'>Yes</mat-radio-button>
                        <mat-radio-button class="ml-24" value='false'>No</mat-radio-button>
                    </mat-radio-group>
            </div>

            
            <!-- Created At Field -->
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>CreatedAt</mat-label>
                    <mat-icon matSuffix class="secondary-text">today</mat-icon>
                    <input name="createdAt" formControlName="createdAt" matInput readonly>
                </mat-form-field>
            </div>    
            <!-- // Created At Field -->            
            
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',paymentForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',paymentForm])"
                [disabled]="paymentForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action === 'new'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(paymentForm)"
                [disabled]="paymentForm.invalid"
                aria-label="ADD">
            ADD
        </button>

        <button *ngIf="action==='view'"
                mat-button
                class="close-button"
                (click)="matDialogRef.close()"
                aria-label="CLOSE">
            CLOSE
        </button>

    </div>
</div>
