#horse {

    .header {
        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content-card {
        .horse-detail {
            .save-horse-button {                
                height:45px;
                width: 150px;
                margin-top:10px;
            }

        }

        .active-icon {
            border-radius: 50%;
        }

        .avatar-cropper {
            padding-top:10px;
            max-width: 600px;
            max-height: 600px;
        }
        .avatar-img {
            padding-top:10px;
            max-width: 300px;
            max-height: 300px;
        }

        .upload-progress {
            margin: 10px 0;
        }

        .detail {
            margin-top: 4pt;
            font-size: 9pt;
            max-width: none;
        }

        .registrations-content{
            width: 100%;        
        }

        .registrations-table{
            text-align: right;
            display: inline;
        }

        .owners-content{
            width: 100%;     
            margin-top:50px;
        }

        .owners-table{
            text-align: right;
            display: inline;
        }


    }
    

}